<h1><%= t '.title' %></h1>
<%= render 'new_article_link' %>
<%- if @articles.empty? %>
  <p><%= t '.no_article' %></p>
  <p><%= t 'globals.button_or_link.click' %><%= render 'new_article_link' %><%= t '.create_an_article' %></p>
<%- else %>
  <ul>
    <%= render :partial => 'article_item', :collection => @articles, :as => :article %>
  </ul>
<%- end %>
