<%= render 'return_to_index_link' %>

<%= form_for :article, :url => articles_path, :html => {:id => "new_article"} do |f| %>
  <div>
    <div class="label">
      <%= render "shared/required_field_flag" %>
      <%= f.label :title, t('articles.form.label.title') %>
    </div>
    <div class="field">
      <%= f.text_field :title, :class => "fill_field #{error_class(@article, :title)}" %>
      <%= render "shared/error_message", :object => @article, :method => :title %>
    </div>
    <%= render "shared/clear" %>
  </div>

  <div>
    <div class="label">
      <%= render "shared/required_field_flag" %>
      <%= f.label :content, t('articles.form.label.content') %>
    </div>
    <div class="field">
      <%= f.text_area :content, :class => "fill_field #{error_class(@article, :content)}" %>
      <%= render "shared/error_message", :object => @article, :method => :content %>
    </div>
    <%= render "shared/clear" %>
  </div>

  <%= f.submit t('globals.button_or_link.create') %>
<%- end %>
