<%= render 'return_to_index_link' %>

<%= form_for :article, :url => articles_path do |f| %>
  <div>
    <%= f.label :title, t('articles.form.label.title') %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content, t('articles.form.label.content') %>
    <%= f.text_area :content %>
  </div>

  <%= f.submit t('globals.button_or_link.create') %>
<%- end %>
